<%
    import ui.helpers
%>

% if ui.helpers.is_guest_user():
<div class="row tut-spaced-row">
	<div class="span8 tut-buble">
			<h4>Tutorial step 2!</h4>
			<p>
			In this step you have to define all important imputs to Gaussian puff model. Go through
			all three tabs. When the configuration is valid, the green <b>Submit task</b> button enables. 
			</p>
	</div>
</div>
% endif
