<%
    import ui.helpers
%>

% if ui.helpers.is_guest_user():
<div class="row">
	<div class="row span8 tut-buble">
			<h4>Tutorial step 1!</h4>
			<p>
			Please, select the taks type. Currently, there is only one so the choice is quite straightforward:)
			Hovewer, the distributed computational framework can serve multiple tasks at once. Each task-tupe has is own
			ID which ensures, that the task manager assigns the task to a proper worker equipped with 
			a task-specific computation code. 
			</p>
	</div>
</div>
% endif
