<%
    import ui.helpers
%>

% if ui.helpers.is_guest_user():
<div class="row tut-spaced-row">
	<div class="span8 tut-buble">
			<h4>Tutorial step 3!</h4>
			<p>
				Here you can see all your tasks. Tasks are marked with color batches indicating their state. 
				The expected lifecycle of a task is as follows: 
			 
				<span class="label label-warning">Queuing</span> -> <span class="label label-info">Computing</span> -> <span class="label label-success">Done</span>.
				</p>
				<p>
				If something goes wrong, the task is marked as <span class="label label-important">Computation failed!</span>.
				</p>
				<p>
				When the task is done, you can view the results and visualize it on GoogleMaps!	
				Use the blue drop-down menu at each task row and select <b>Task details</b>.
			</p>
	</div>
</div>
% endif
