<%
    import ui.helpers
%>

% if ui.helpers.is_guest_user():
<div class="row tut-spaced-row">
	<div class="span8 tut-buble">
			<h4>Tutorial step 4!</h4>
			<p>
			Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>
	</div>
</div>
% endif
