/**
 * 	Forms related styles.
 **/

.validation.error .checkbox,
.validation.error .radio,
.validation.error input,
.validation.error select,
.validation.error textarea {
  color: #b94a48;
  border-color: #b94a48;
}

.inline-item {
	float: left;
	margin-right: 5px;
}

.dropdown-menu .disabled-link {
	color: #999999;
	cursor: default;
}

.hidden-chart-container {
   position: absolute;
   top: -9999em;
}
 