

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
header {
    padding-top: 40px;
}

#map-canvas {
    height: 400px;    
}

#map-modal-canvas {
	height: 200px;
	max-width: none;
}

#map-canvas img { 
  max-width: none;
}

#map-canvas label { 
  width: auto; display:inline; 
} 

#map-modal-canvas img { 
  max-width: none;
}

#map-modal-canvas label { 
  width: auto; display:inline; 
}

.pagination-container ul > li {
	color: #0088cc;
	cursor: pointer;
	float: left;
	padding: 4px 12px;
	line-height: 20px;
	text-decoration: none;
	list-style-type: none;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	margin-left: 1px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-align: center;
}

.pagination-container ul {
	display: inline-block;
	margin-bottom: 0;
	margin-left: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.active-page {
	font-weight: bolder;
}