# -*- encoding: UTF-8 -*- 
<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
	<div class="page-header">
		<h1>Documentation</h1>
	</div>
	<div class="subnav">
		<ul class="nav nav-pills">			
			<li>
				<a href="#framework">Distributed computational framework</a>
			</li>
			<li>
				<a href="#quick">Quickstart guide</a>
			</li>
			<li>
				<a href="#powered">Powered by</a>
			</li>
		</ul>
	</div>
</header>
<!-- Typography
================================================== -->

<section id="framework">
	<div class="page-header">
		<h1>Distributed computational framework</h1>
	</div>
	<div class="row">
		<div class="span6">
			<h2>Architecture of the system</h2>
			<p class="about">
				The application is able to serve many concurrent user at a time. To ensure sufficient computational resources without extensive investments into hardware we developed a framework for construction of distributed computational environments using a large number of common personal computers connected to the internet (workers).
				Here we present the idea using 3 OpenShift geras: 1 gear serves the task server and 2 gers power worker nodes.
			</p>
			<br>
			<p class="about">
				<center><img src="/images/schema.png" width="90%">
				</center>
			</p>
		</div>
		<div class="span6">
			<p class="about">
				The framework is based on the client-server architecture, see the Figure. It core components are:
				<ul>
					<li>
						Webserver providing web pages with user interface for configuration of tasks - simulation runs of a model.
					</li>
					<li>
						Document-oriented (NoSQL) database suitable for storage of various data in different formats (user data, model data, model inputs and outputs etc.).
					</li>
					<li>
						Task manager for assigning tasks to workers (gears running computational code).
					</li>
				</ul>
				Tasks (simulation runs of the model) are configures by users via web pages. Tasks are stored in a queue implemented using database. Workers repeatedly query the queue for free tasks. If a new task is inserted into the queue, an idle worker is assigned to it. Configuration of the task is sent to the worker over the internet and a simulation run is performed. When the computation is done the worker sends outputs back to the webserver where the owner of the task (user) can view results. If all the workers are busy, an inserted task is queuing until the previously entered tasks are done. Number of available workers, some of their basic properties and particularly their states (<span class="label label-success">IDLE</span>, <span class="label label-warning">BUSY</span>, <span class="label label-error">DOWN</span>) can be found in <a href="/workers">Workers' list</a>.
			</p>
			<p class="about">
				Since workers communicate over http protocol, they can run without any special need of configuring firewalls etc. This design offers a good scalability and almost seamless extension of computational resources. In the case of a large number of concurrent users, e.g. a group of students in a class, the number of workers can be easily increased just by launching the worker code on computers with Linux, OS X or Windows operating systems connected to the internet. As a side effect we obtain a robust solution where the functionality of the system is not influenced by unavailability or a failure of a subset of workers.
			</p>
		</div>
	</div>
</section>
<section id="quick">
	<div class="page-header">
		<h1>Quickstart guide</h1>
		<h1><small>How to simulate a release from a nuclear power plant:)</small></h1>
	</div>
	<div class="row">
		<div class="span12">
			<h2>1. Log in as a Guest user</h2>
			<h2>2. Create a new task</h2>
			<p>
				<center>
				<img src="/images/about/task1.png" width="650px">
				</center>
			</p>
			<h2>3. Configure basic parameters</h2>
			<p>
				<center>
				<img src="/images/about/task2.png" width="700px">
				</center>
			</p>
			<h2>4. configure source term</h2>
			<p>
				<center>
				<img src="/images/about/task2.1.png" width="700px">
				</center>
			</p>
			
			<p>
				<center>
				<img src="/images/about/task2.2.png" width="700px">
				</center>
			</p>
			<h2>5. Configure meteorological conditions</h2>
			<p>
				<center>
				<img src="/images/about/task2.3.png" width="700px">
				</center>
			</p>
			
			<h2>6. Submit task</h2>
			
			<h2>7. Wait until it is done</h2>
			<h2>8. View results</h2>
			<p class="about">
				When the task is done, we can view results by clicking <b>Task details</b> from the drop-down menu activated by pressing
				<button class="btn btn-primary btn-small dropdown-toggle" data-toggle="dropdown">
					Action <span class="caret"></span>
				</button>
				.
				Table with comprehensive review of task. Thera are three tabs:
				<ul>
					<li>
						Task information - information on task status, creation and a worker assigned to the task (worker's IP, computation time, etc.)
					</li>
					<li>
						Task initialization - review of the task inputs (basic parameters, source term and meteo)
					</li>
					<li>
						Task results - list of task outputs (list of all evaluated radiological quantities)
					</li>
				</ul>
				On <b>Task results</b> tab are tables with comprehensive list of calculated radiological quantities, which can be visualized as a transparent overlay on Google Maps:
			</p>

			<p>
				<center>
				<img src="/images/about/task3.png" width="700px">
				</center>
			</p>
			
			<p class="about">
				After selecting <b>Show on map</b> from
				<button class="btn btn-primary btn-small dropdown-toggle" data-toggle="dropdown">
					Action <span class="caret"></span>
				</button>
				drop-down menu a
				modal window with vizualization of selected radiological quantity appears:
			</p>			
			<p>
				<center>
				<img src="/images/about/done!.png" width="700px">
				</center>
			</p>
		</div>
		
	</div>
	
</section>

<section id="powered">
	<div class="row">
		
		<div class="span12">
			<h2>The system is powered by...</h2>
			<p>
				<center>
					<table>
						<tr>
							<td><a href="http://www.python.org/" target="_blank"><img src="/images/badges/python.png" width="150px"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.cherrypy.org/" target="_blank"><img src="/images/badges/cherrypy.png" width="130px"></a></td>
						
							<td><a href="http://www.mongodb.org/" target="_blank"><img src="/images/badges/mongo.png" width="130px"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.matplotlib.org/" target="_blank"><img src="/images/badges/matplotlib_logo.png" width="150px"></a></td>
						</tr>
						<tr>
							<td><a href="http://www.makotemplates.org/" target="_blank"><img src="/images/badges/makoLogo.png" width="110px"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.numpy.org/" target="_blank"><img src="/images/badges/numpylogo.png" width="130px"></a></td>
						
							<td><a href="https://www.openshift.com/" target="_blank"><img src="/images/badges/openshift_logo.png" width="130px"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://twitter.github.com/bootstrap/" target="_blank"><img src="/images/badges/bootstrap2.png" width="110px"></a></td>
						</tr>
						<tr>
							<td></td><td><a href="http://maps.google.com/" target="_blank"><img src="/images/badges/googlemaps_logo.jpeg" width="130px"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://gruntjs.com/" target="_blank"><img src="/images/badges/grunt.jpeg" width="150px"></a></td>
						<td></td>
						</tr>
					</table>
				</center>
			</p>
		</div>
	</div>
</section>
