							<!-- Modal -->
							<div id="map-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="map-modal-label" aria-hidden="true">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
										x
									</button>
									<h3 id="map-modal-label">Add meter</h3>
								</div>
								<div class="modal-body">
									<div class="container-fluid">
										<div class="row-fluid">
											<div class="span6">
												<label>Name</label>
												<input type="text" placeholder="" id="meter-name">
											</div>
											<div class="span6">
												<label>Value</label>
												<input type="text" placeholder="" id="meter-value" value="0.0E+00" disabled>
											</div>
										</div>
										<div class="row-fluid">
											<div class="span6">
												<label>Timestamp</label>
												<div id="meter-timestamp" class="input-append">
													<input data-format="MM/dd/yyyy HH:mm:ss PP" type="text"  value="N/A" disabled>
													</input>
													
												</div>
											</div>
											<div class="span6">
												<label>Group</label>
												<select class="meter-groups-modal"></select>
											</div>
										</div>
										<br>
										<div class="row-fluid">
											<div class="span12">
												<div id="map-modal-canvas"></div>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button class="btn" data-dismiss="modal" aria-hidden="true">
											Close
										</button>
										<button class="btn btn-primary" id="save-meter" onclick="save_rec_conf(); $('#map-modal').modal('hide'); $('#meter-name').html('');">
											Save
										</button>
									</div>
								</div>
							</div>