<div class="container">
	<div class="page-header">
      <h1>Admin <small>area</small></h1>
	</div>    
      <div class="tabbable" style="margin-bottom: 18px;">
            <ul class="nav nav-tabs">
	              <li class="active"><a href="#tab1" data-toggle="tab">List of Users</a></li>
	              <li><a href="#tab2" data-toggle="tab">List of Tasks</a></li>
	              <li><a href="#tab3" data-toggle="tab">List of Unicorns</a></li>
	              <li><a href="#tab4" data-toggle="tab">List of Rabbits</a></li>
            </ul>
            <div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
	              <div class="tab-pane active" id="tab1">
	              	<table class="table table-hover">
	              		<thead>
	              			<tr>
			                  <th>User</th>
			                  <th>User Type</th>
			                  <th>Last Login</th>
			                  <th># of Tasks</th>
			                </tr>
	              		</thead>
						% for user in users:
							<tr>
								<td>
									<div class="btn-group">
									  <a href="#myModalEditUser" data-toggle="modal" class="btn btn-info" onclick="get_user('${user["username"]}')"><i class="icon-user icon-white"></i> ${user["username"]}</a>
									  <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
									  <ul class="dropdown-menu">
									    <li><a href="#myModalEditUser" data-toggle="modal" onclick="get_user('${user["username"]}')"><i class="icon-pencil"></i> Edit</a></li>
									    <li><a href="#delete" onclick="delete_user('${user["username"]}')"><i class="icon-trash"></i> Delete</a></li>
									    % if user["state"] == 1:
										    <li><a href="#disable" onclick="disable_user('${user["username"]}')"><i class="icon-ban-circle"></i> Disable</a></li>
										% endif
									    % if user["state"] == 0:
										    <li><a href="#enable" onclick="enable_user('${user["username"]}')"><i class="icon-ban-circle"></i> Enable</a></li>
										% endif
										% if user["user_type"] != 'admin':
										    <li class="divider"></li>
									    	<li><a href="#makeadmin" onclick="make_admin('${user["username"]}')"><i class="i"></i> Make admin</a></li>
										% endif
									  </ul>
									</div>
								</td>
								<td>${user["user_type"]}</td>
								<td>${user["last_login"]}</td>								
								<td>2</td>
							</tr>

						% endfor
					</table>
					<div id="myModalEditUser" class="modal hide fade">
						<div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal">&times;</button> 
							  <h3>Edit user <span id="username"></span></h3>
							  
						</div>
						<div class="modal-body">
						    <form id="save_user_form" action="" method="post">
							     <div class="row"> 
							     	<fieldset>
							     		<div class="span3">		
							              <label>First name</label>
							              <input type="text" id="first_name">
							              <label>Middle names</label>
							              <input type="text" id="middle_names">
							              <label>Surname</label>
							              <input type="text" id="surname">
							              <label>Email</label>
							              <input type="text" id="email">
							              <label>Status</label>
							              <select class="span3" id="status">
							                <option value="1">Enabled</option>
							                <option value="0">Disabled</option>
							              </select>
							              <label>Type</label>
							              <select class="span3" id="user_type">
							                <option value="worker">Worker</option>
							                <option value="admin">Admin</option>
							              </select>
							           </div>
							           <div class="span3">	
							           	  <label>Institue</label>
							              <input type="text" id="institute">
							              <label>Address Line 1</label>
							              <input type="text" id="street1">
							              <label>Address Line 2</label>
							              <input type="text" id="street2">
							              <label>City</label>
							              <input type="text" id="city">
							              <label>State</label>
							              <input type="text" id="state">
							              <label>Country</label>
							              <input type="text" id="country">
								    	</div>
								    </fieldset> 
								 </div><!-- / row    -->                       
						    </form>   
						</div><!-- / modal body    -->
						<div class="modal-footer">
							  <a href="#" class="btn btn-primary" type="button" onclick="$('#myModalEditUser').modal('hide');">Close</a>
							  <a  class="btn btn-primary" onclick="save_user(); $('#myModalEditUser').modal('hide');">Save</a>
						</div>
					</div>
	              </div>
	              <div class="tab-pane" id="tab2">

	              </div>
	              <div class="tab-pane" id="tab3">

	              </div>
	              <div class="tab-pane" id="tab4">

	              </div>              
            </div>
            <div id="msg"></div>
      </div>              
</div>
