<footer class="row">
		<hr>
		<div class="span9">
			Developed by <a href="mailto:pyjunkies@gmail.com?subject=OpenShift Winter of Code 2014">PyJunkies</a> (2011-2014)
		</div>		
		<div class="span1">
			<small>%%app.version%%</small>
		</div>
</footer>