							<!-- Modal -->
							<div id="load_receptors_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="load-configuration-modal-label" aria-hidden="true">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
										x
									</button>
									<h3 id="load-configuration-modal-label">Load Configuration</h3>
								</div>
								<div class="modal-body">
									<div class="container-fluid">
										<div class="row-fluid">
											<div class="span12">
												<label>Select configuration</label>
												<div id="load_receptors_list"></div>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button class="btn" data-dismiss="modal" aria-hidden="true">
											Close
										</button>
									</div>
								</div>
							</div>