<div class="hero-unit">

	<div class="row-fluid">

		<div class="span3"><br>
			<img src="/images/dispersion.jpg">
		</div>
		<div class="span9" style="padding: 10px;">

			<div class="row-fluid">
				<p class="trail">
				<h2>On-line atmospheric dispersion modeling laboratory for OpenShift <small>alpha</small></h2>
				</p>
			<p> The purpose of this application is to demonstrate that running of complex 
				scientific models can be conducted also from the web environment using a small
				<b><i>home-made cluster</i></b> powered by multiple <a href="https://www.openshift.com/">OpenShift</a> gears.
			</p>
			</div>


			<div class="row-fluid">
				<p>
					<a id="learnMoreBtn" href="/contact"
						class="btn btn-primary btn-large">Learn more &raquo;</a> 
						% if not is_user_logged: 
						<a href="/guest/login" class="btn btn-success btn-large">Login as guest</a> 
						% endif
				</p>
			</div>
		</div>

	</div>


</div>


<div class="hero-unit">
	<div class="row-fluid">
		<div class="span4 welcome-col">
			<span class="icon-lab header-icon"></span>
			<h2>Scientific</h2>

			<p>
				Distributed computational framework originally developed for <a href="https://dss.utia.cas.cz/">DSS</a> was modified for deployment 
				on <a href="https://www.openshift.com">OpenShift</a> 
				and powers a simple <a href="http://en.wikipedia.org/wiki/Atmospheric_dispersion_modeling">Gaussian puff model</a>
				simulating aerial propagation of a radioactive noble gas <a href="http://en.wikipedia.org/wiki/Argon"><sup>41</sup>Ar</a>.
			</p>
			
		</div>
		<div class="span4 welcome-col">
			<span class="icon-cloud header-icon"></span>
			<h2>Cloud Based</h2>
			<p>				
				The framework runs on multiple <a href="https://www.openshift.com">OpenShift</a> gears. One gear serves 
			    CherryPy <b><i>web-server</i></b> providing web interface and a <i><b>task manager</b></i> serving a task queue.
				Tasks inserted into the queue by users are processed by <b><i>computatinal nodes</i></b> (workers) hosted on 
				different gears.
			</p>
		</div>
		<div class="span4 welcome-col">
			<span class="icon-code header-icon"></span>
			<h2>Opensourced</h2>
			<p>
				All source codes including deployment scripts were released under <a href="http://www.gnu.org/licenses/gpl-2.0.html">GPL 2</a>
				licence and are available on <a href="https://bitbucket.org/radekhofman/dss_os-git">Bitbucket</a>. As a great by-product, a
				<a href="https://bitbucket.org/krablak/dss-cherrypy-app-template">Cherrypy application template</a> for an easy start of 
				<a href="http://www.cherrypy.org/">CherryPy</a> application development on <a href="https://www.openshift.com">OpenShift</a> was created.
			</p>
		</div>
	</div>
</div>

