<!--/ nuclide list modal content -->

<div id="myModalLoadMeteo" class="modal hide fade">
	<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal">&times;</button> 
		  <h3>Load meteo</h3>
	</div>
	<div class="modal-body">
	    <form id="load_meteo_form" action="" method="post">
		     <div class="row"> 
		     	<div class="span7">
		     	 <div id="modal_load_meteo_div">	
			      ${meteo_table}
			     </div> 
			    </div>  
			 </div><!-- / row    -->                       
	    </form>   
	</div><!-- / modal body    -->
	<div class="modal-footer">
		  <a href="#" class="btn btn-primary" type="button" onclick="$('#myModalLoadMeteo').modal('hide');">Close</a>
	</div>
</div>
