<div class="row">
   <div class="span12">
        <h3>Meteorological data configuration</h3>
        <p>
        		On this tab you can define meterological conditions in 30-minute intervals for the whole simulation period:
        		<ul>
				<li>wind direction in degrees (0 means wind blowing from North to South),</li>
				<li>wind speed im meters per second,</li>
				<li><a href="http://en.wikipedia.org/wiki/Air_pollution_dispersion_terminology">Pasquill's atmospheric stablity class</a>, and</li>
				<li>precipitation in milimeters per hour (however, with noble gas like <sup>41</sup>Ar it has no effect).</li>
			</ul>
        </p>
        <hr>


        	<p> When you are done, you can save it and load afterwards 
			    <a data-toggle="modal" href="#myModalLoadMeteo" class="btn btn-primary btn-small">Load meteo</a>
			    <a data-toggle="modal" href="#myModalSaveMeteo" class="btn btn-primary btn-small">Save meteo</a>
			</p>
		<hr>
    </div>
</div>
<div class="row">
	<div class="span8">		
        <p>
        	<div id="meteo_table">
        	${meteotable}	
        	</div>
		</p>
    </div>
</div>
    
