<!--/ nuclide list modal content -->

<div id="myModalSaveST" class="modal hide fade">
	<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal">&times;</button> 
		  <h3>Save puff source term</h3>
	</div>
	<div class="modal-body">
	    
		     <div class="row"> 
		     	<div class="span7">	
			      <textarea class="span5" placeholder="Enter description of the source term" id="st_desc" rows="3"></textarea>
			    </div>  
			 </div><!-- / row    -->                       
	       
	</div><!-- / modal body    -->
	<div class="modal-footer">
		  <a href="#" class="btn btn-primary" type="button" onclick="$('#myModalSaveST').modal('hide');">Close</a>
		  <a  class="btn btn-primary" onclick="save_source_term(); $('#myModalSaveST').modal('hide');">Save</a>
	</div>
</div>
