<div class="page-header">
      <h1>New data assimilation task with HARP <small>Create new task</small></h1>
</div>    
<form class="form-horizontal" id="disp_task" name="disp_task" action="/task/insert_disp_task"> 
      <div class="tabbable" style="margin-bottom: 18px;">
            <ul class="nav nav-tabs">
	              <li class="active"><a href="#tab1" data-toggle="tab">Release scenario</a></li>
	              <li><a href="#tab2" data-toggle="tab">Meteorological data</a></li>
	              <li><a href="#tab3" data-toggle="tab">Receptors</a></li>
	              <li><a href="#tab4" data-toggle="tab">Measurements</a></li>
            </ul>
            <div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
	              <div class="tab-pane active" id="tab1">
		                ${tab1}
	              </div>
	              <div class="tab-pane" id="tab2">
		                ${tab2}
	              </div>
	              <div class="tab-pane" id="tab3">
		                ${tab3}
	              </div>       
	              <div class="tab-pane" id="tab4">
		                ${tab4}
	              </div> 	                     
            </div>
      </div> <!-- /tabbable -->   
      <div class="form-actions">
          <div class="span6">
           		<h2>To submit task to task queue press </h2>
          </div>
          <div class="span2" id="submit_button">
           		<button type="button" class="btn btn-success btn-large disabled">Submit task</button>
          </div>  
      </div>             
 </form> 