<!--/ nuclide list modal content -->

<div id="myModalMeteo" class="modal hide fade">
	<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal">&times;</button> 
		  <h3>Meteo configuration</h3>
	</div>
	<div class="modal-body">
	    <form id="meteoForm" action="/task/update_meteo_table" method="post">
		     <div class="row"> 
			      <div class="span2"> 
				      <h4>Number of hours:</h4>
				      <p>bla bla bla</p>                        
			          <div class="control-group">
				            <!-- / release duration, sets table for source term -->
				            <div class="controls docs-input-sizes">
					              <select class="span1" id="meteo_modal_hours_count" name="meteo_modal_hours_count">
						                <option>36</option>
						                <option>48</option>
						                <option>60</option>
						                <option>72</option>
						                <option>84</option>
						                <option>94</option>
						                <option>108</option>
						                <option>120</option>
						                <option>132</option>
						                <option>144</option>
						                <option>156</option>
						                <option>168</option>					                
					              </select>
					              <span class="help-inline">hours</span>
				            </div>
		              </div> 
			      </div>
			 </div><!-- / row    -->                       
	    </form>   
	</div><!-- / modal body    -->
	<div class="modal-footer">
		  <a href="#" class="btn btn-primary" type="button" onclick="$('#myModalMeteo').modal('hide');">Close</a>
		  <a  class="btn btn-primary" onclick="update_meteo_table(); $('#myModalMeteo').modal('hide');">Save changes</a>
	</div>
</div>
