<div class="row">
	<div class="span12">
		<h3>Source term configuration</h3>
		<p>
			On this tab you can define:
			<ul>
				<li>the number of puffs to be released,</li>
				<li>their release heights in <i>meters</i> above the ground level, and</li>
				<li>radioactivity content in each puff <a href="http://en.wikipedia.org/wiki/Becquerel">Becquerels</a></li>
			</ul>
			  
		</p>
		<p>
			You can enter values into appropriate inputs or drag-and-drop the graph which appears after  
			pressing<br> 
			<a data-toggle="modal" href="#myModalNuclide" class="btn btn-primary btn-small">Configure segments and nuclides</a>. 
			<br>
			All inputs on this tab should be validated but who knows..:)			 
		</p>
		
		<p>
			When you are done, you can save the source term for later use and then load it with
			<a data-toggle="modal" href="#myModalLoadST" class="btn btn-primary btn-small">Load source term</a>
			<a data-toggle="modal" href="#myModalSaveST" class="btn btn-primary btn-small">Save source term</a>
		</p>
		<hr>
		
		<div class="row" >
			<div class="span12" id="st_error_msg_main"> 	<!-- / error message    -->
			</div>
		</div>		
		<div class="row">
			<div class="span12">
				<div class="jqplot-target" id="source_chart" style="height: 300px;"></div>
			</div>
		</div>
		<div id="source_table" style="overflow: scroll;">
			${segment_and_source_tables}
		</div>
	</div>
	<!---/ span 9-->
</div><!-- /row -->
