<div class="row">
	<div class="span12">
		<h3>Source term configuration</h3>
		<p>
		</p>
		<hr>

		<p>
			<a data-toggle="modal" href="#myModalNuclide" class="btn btn-primary btn-small">Configure segments and nuclides</a>
			<a data-toggle="modal" href="#myModalLoadST" class="btn btn-primary btn-small">Load source term</a>
			<a id="saveSrcTermBtn" data-toggle="modal" href="#myModalSaveST" class="btn btn-primary btn-small">Save source term</a>
		</p>
		
       	<div id="relatedComponents" style="display: none;">
            <ul id="myTab" class="nav nav-tabs">
              <li class="active"><a id="hoursChartTabId" href="#hoursChart" data-toggle="tab">Hours Chart</a></li>
              <li class=""><a id="segmentsChartTabId" href="#segmentsChart" data-toggle="tab">Editable Segments Chart</a></li>
            </ul>
            <div id="chartTabs" class="tab-content">
              <div class="tab-pane active" id="hoursChart">
              </div>
              <div class="tab-pane" id="segmentsChart">
              </div>
            </div>
            
            <div id="hours_chart_container">
	            <div id="hours_chart">
	            </div>
            </div>
            <div id="source_chart_container" class="hidden-chart-container">
	            <div id="source_chart">
	            </div>
            </div>
            
       		<script src="/scripts/thirdparty/highcharts.js"></script>
       		<script src="/scripts/thirdparty/highcharts_draggable.js"></script>
       		
       	<hr>
		<%include file="ractive/nuclids_groups.html"/>
		</div>
	
		<hr>

		<div id="segment_and_source_tables_ract">
			
		</div>

	</div>
	<!---/ span 9-->
</div><!-- /row -->

<%include file="ractive/source_term_cfg.html"/>
