

			<!-- Example row of columns -->
			
							<div class="container">
								<div class="row">
									<div class="span12">
										<div class="btn-toolbar">
											
											<div class="input-prepend">

											
											<div class="btn-group">
												<button class="btn  btn-primary" data-toggle="modal" data-target="#map-modal">
													Add Meter
												</button>
												<button class="btn" data-toggle="modal" data-target="#load_receptors_modal">
													Load
												</button>
												<button class="btn" data-toggle="modal" data-target="#save_receptors_modal">
													Save
												</button>
											</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="container">
								<div class="row">
									<div class="span8">
										<div id="map-canvas"></div>
									</div>
									<div class="span4">
										<ul class="nav nav-tabs" id="tab-meters-groups">
											<li class="active">
												<a href="#tab-meters">Meters</a>
											</li>										
										</ul>
										<div class="tab-content">
											
											<div class="tab-pane active" id="tab-meters">
												<table class="table" id="meter-table">
													<thead>
														<tr>
															<th>#</th>
															<th>Name</th>

															<th>Group</th>
														</tr>
													</thead>
													
													<tbody id="meters-tbody">

													</tbody>
												</table>
											</div>

										</div>
									</div>
								</div>
							</div>
													
		
		
		<script>
			$('#tab-meters-groups a[href="#tab-groups"]').click(function(e) {
				e.preventDefault();
				$('#tab-meters-groups a[href="#tab-groups"]').tab('show');
			});
			$('#tab-meters-groups a[href="#tab-meters"]').click(function(e) {
				e.preventDefault();
				$('#tab-meters-groups a[href="#tab-meters"]').tab('show');
			});
		</script>

	
