<!--/ nuclide list modal content -->

<div id="myModalLoadST" class="modal hide fade">
	<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal">&times;</button> 
		  <h3>Load source term</h3>
	</div>
	<div class="modal-body">	    
		     <div class="row"> 
		     	<div class="span7">
		     	 <div id="modal_load_st_div">	
			      ${st_table}
			     </div> 
			    </div>  
			 </div><!-- / row    -->                          
	</div><!-- / modal body    -->
	<div class="modal-footer">
		  <a href="#" class="btn btn-primary" type="button" onclick="$('#myModalLoadST').modal('hide');">Close</a>
	</div>
</div>
