
<div class="page-header">
	<h1>
		New task <small>Create new task</small>
	</h1>
</div>

<%include file="components/tutorial_step_create_new_task.html"/>

<div class="row">
	<div class="span8">
		<h2>Atmosheric dispersion modeling PUFF</h2>
		<p>
			Simulation run of atmospheric dispersion model of the Gaussian type. The model 
			simulates propagation of a radioactive cloud released from a nuclear facility over 
			the terrain and numerically evaluates
			gamma dose using <a href="http://en.wikipedia.org/wiki/Gaussian_quadrature">
			quadrature rules</a>. The integration must be performed in both temporal and spatial domains which
			implies high computational burden.  
		</p>
		<p>
			<a class="btn btn-large btn-primary" href="/task/create?task_type=2">Create &raquo;</a>
		</p>
	</div>
	<!--/span-->
</div>
<!--/row-->


