<div class="row">
	<div class="span4">
		  <h3>Basic parameters</h3>
		  <hr>
		  <p>On this tab you can set the basic parematers of the release:
		  <ul>
		  	<li>Decsription of the release which helps to indetify a specific run when viewing results.</li>
		  	<li>Location of the source (can be checked on a map in a modal window)</li>
		  	<li>Parameters of the computational grid (dimension in x, y and grid step)</li>
		  </ul>	
		  </p>
		  <p>Simulation length can not be changed due to safety reasons.</p>
	</div>
	<div class="span8">
	     <fieldset>
	          <!-- / Experiment description -->		
		      <div class="control-group">
			        <label class="control-label">Experiment description</label>
			        <div class="controls docs-input-sizes">
			        	 <textarea class="span5" placeholder="Enter description of the simulation experiment" name="text1" id="task_desc" rows="3">${experiment_desc}</textarea>
			          	 
			        </div>
		      </div><!-- / control group -->
	      
	      
	          <!-- / NPP site --> 
		      <div class="control-group">                                        
			        <label class="control-label">Source site location</label>
			        <div class="controls docs-input-sizes">
              
					              <div class="input-prepend input-append">
					                   <span class="add-on">Lat:</span><input class="span1" style="${lat_validator_result}" id="lat" type="text" placeholder="" name="lat" value="${lat}"><span class="add-on">deg</span>  
					              </div>
					              <div class="input-prepend input-append">
					              	   <span class="add-on">Lon:</span><input class="span1" style="${lon_validator_result}" id="lon" type="text" placeholder="" name="lon" value="${lon}"><span class="add-on">deg</span>   
					              </div>
					              <p class="help-block">Use decimal format.</p> 

			        </div> 
		      </div><!-- / control group -->
	          
	          <!-- / NPP site shoe locality button-->               
		      <div class="control-group">
			        <label class="control-label"></label>
			        <div class="controls docs-input-sizes">
			             <a data-toggle="modal" class="btn btn-primary btn-small" href="#myModalGMap" onclick="return false;">Show source on map</a>                        
			        </div>                                        
		      </div> <!-- /control group-->                  
		      
	
			  

		      <!-- / simulation_length --> 
		      <div class="control-group">                    
			        <label class="control-label">Simulation length</label>
			        <div class="controls docs-input-sizes">
				         <div class="input-append">
				          	  <input class="span1" disabled style="${simulation_length_validator_result}" type="text" placeholder="" value="${simulation_length}" id="simulation_length" name="simulation_length"><span class="add-on">hour</span>
				         </div>         
			        </div>   
		      </div><!---/ contorl group-->  
	
	
		      <!-- / time_step --> 
		      <div class="control-group">                    
			        <label class="control-label">Output grid step</label>
			        <div class="controls docs-input-sizes">
				         <div class="input-append">
				          	  <input class="span1" style="${output_grid_step_validator_result}" type="text" placeholder="" value="${output_grid_step}" name="output_grid_step" id="output_grid_step"><span class="add-on">km</span>
				         </div>            
			        </div>   
		      </div><!---/ contorl group--> 
		      
		      <!-- / puff_sampling_step--> 
		      <div class="control-group">                    
			        <label class="control-label">Output domain size</label>
			        <div class="controls docs-input-sizes">
				         <div class="input-append">
				         	<div class="input-prepend input-append">
				          	  <span class="add-on">x: </span><input class="span1" style="${output_domain_size_x_validator_result}" type="text" placeholder="" value="${output_domain_size_x}" name="output_domain_size_x" id="output_domain_size_x"><span class="add-on">km</span>
				          	 </div>
				          	 <div class="input-prepend input-append">
				          	  <span class="add-on">y: </span><input class="span1" style="${output_domain_size_y_validator_result}" type="text" placeholder="" value="${output_domain_size_y}" name="output_domain_size_y" id="output_domain_size_y"><span class="add-on">km</span>
				          	 </div>  
				         </div>       
				                
			        </div>   
		      </div><!---/ contorl group--> 		      
		      		      
	     </fieldset>                  
	</div> <!---/ span 8--> 
</div><!-- /row --> 