<!--/ source Google Map modal content -->


                  
<div id="myModalGMap" class="modal hide fade">
	<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal">&times;</button>
		  <h3>Source location</h3>
	</div>
    <div class="modal-body">
         <div>    
              <div id="map_canvas" style="height: 300px; border: 1px solid gray;">google map</div>
         </div>                        
    </div>
	<div class="modal-footer">
	      <a href="#" class="btn btn-primary" type="button" onclick="$('#myModalGMap').modal('hide');">Close</a>
	</div>
</div>