<div class="row">
	<div class="span4">
		  <h3>Basic parameters</h3>
		  <p></p>
		  <hr>
	</div>
	<div class="span8">
	     <fieldset>
	          <!-- / Experiment description -->		
		      <div class="control-group">
			        <label class="control-label">Experiment description</label>
			        <div class="controls docs-input-sizes">
			        	 <textarea class="span5" placeholder="Enter description of the simulation experiment" name="text1" rows="3">${experiment_desc}</textarea>
			          	 
			        </div>
		      </div><!-- / control group -->
	      
	      
	          <!-- / NPP site --> 
		      <div class="control-group">                                        
			        <label class="control-label">Source site location</label>
			        <div class="controls docs-input-sizes">
              
					              <div class="input-prepend input-append">
					                   <span class="add-on">Lat:</span><input class="span1" style="${lat_validator_result}" id="lat" type="text" placeholder="" name="lat" value="${lat}"><span class="add-on">deg</span>  
					              </div>
					              <div class="input-prepend input-append">
					              	   <span class="add-on">Lon:</span><input class="span1" style="${lon_validator_result}" id="lon" type="text" placeholder="" name="lon" value="${lon}"><span class="add-on">deg</span>   
					              </div>
					              <p class="help-block">Use decimal format.</p> 

			        </div> 
		      </div><!-- / control group -->
	          
	          <!-- / NPP site shoe locality button-->               
		      <div class="control-group">
			        <label class="control-label"></label>
			        <div class="controls docs-input-sizes">
			             <a data-toggle="modal" class="btn btn-primary btn-small" href="#myModalGMap" onclick="return false;">Show source on map</a>                        
			        </div>                                        
		      </div> <!-- /control group-->                  
		      
	
			  <!-- / Dispersion formula -->       
		      <div class="control-group">                     
			        <label class="control-label">Dispersion formula</label>
			        <div class="controls docs-input-sizes">
				         <select class="span3" name="disp_f">
	                        <option ${disp_form_0}>HOSKER (with height correction)</option> 
	                        <option ${disp_form_1}>HOSKER (without height correction)</option>
	                        <option ${disp_form_2}>KFK</option>
	                        <option ${disp_form_3}>HOSKER (with reflection on Hmix)</option>
	                        <option ${disp_form_4}>KFK (with reflection on Hmix)</option>
	                        <option ${disp_form_5}>SCK/CEN (smooth terrain)</option>			        
				         </select>
			        </div>
		      </div>  <!---/ contorl group-->                     

			  <!-- / Calm conditions -->       
		      <div class="control-group">                     
			        <label class="control-label">Modification on calm conditions</label>
			        <div class="controls docs-input-sizes">
			              <label class="radio">
			                <input type="radio" name="calmRadios" id="calmRadio1" value="1" ${calm_modif_yes}>
			                Yes
			              </label>	
			              <label class="radio">
			                <input type="radio" name="calmRadios" id="calmRadios2" value="0" ${calm_modif_no}>
			                No
			              </label>					              			         
			        </div>
		      </div>  <!---/ contorl group--> 
	
		      <!-- / Inversion --> 
		      <div class="control-group">                    
			        <label class="control-label">Inversion layer height</label>
			        <div class="controls docs-input-sizes">
				         <div class="input-append">
				          	  <input class="span1" style="${inversion_validator_result}" type="text" placeholder="" value="${inversion}" name="inversion"><span class="add-on">m</span>
				         </div>       
				         <p class="help-block">Enter 0 for homogeneous stratification with no inversion (default).</p>           
			        </div>   
		      </div><!---/ contorl group-->     

		      <!-- / Reference time --> 
		      <div class="control-group">                    
			        <label class="control-label">Reference time</label>
			        <div class="controls docs-input-sizes">
				         <div class="input-append">
				          	  <input class="span1" style="${t_ref_validator_result}" type="text" placeholder="" value="${t_ref}" name="ref_time"><span class="add-on">sec</span>
				         </div>       
				         <p class="help-block"><strong>Help:</strong> 24hours = 86400sec, 48hours = 172800sec (default), 1week = 604800sec</p>        
			        </div>   
		      </div><!---/ contorl group-->  
		       
		      		      
	     </fieldset>                  
	</div> <!---/ span 8--> 
</div><!-- /row --> 