<!--/ nuclide list modal content -->
<div id="modal_nucl_table_div">
	<div id="myModalNuclide" class="modal hide fade">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">
				&times;
			</button>
			<h3>Source term configuration</h3>
		</div>
		<div class="modal-body">
			<form id="nucl_puff_form" action="" method="post">
				<div class="row" >
					<!-- / error message    -->
					<div class="span7" id="st_error_msg"></div>
				</div>
				<div class="row">
					<div class="span6">
						<div class="control-group">
							<label class="control-label"><h4>Number of puffs to release:</h4></label>
							<div class="controls docs-input-sizes">
								
								     <select class="span1" name="duration_of_release" id="duration_of_release">
						                <option>1</option>
						                <option>2</option>
						                <option>3</option>
						                <option>4</option>
						                <option>5</option>
						                <option>6</option>
						                <option>7</option>
						                <option>8</option>
						                <option>9</option>
					                 </select>
								
							</div>
							<b>Warning:</b> For high number of puff the computation can be very slow even on such powerful workers 
							like OpenShift gears definitely are:)
						</div>
					</div>
						<input type="hidden" placeholder="" value="${puff_sampling_step}" name="puff_sampling_step" id="puff_sampling_step">
						<input type="hidden" placeholder="" value="${inner_time_step}" name="inner_time_step" id="inner_time_step">
						<input type="hidden" value="0.0E+00" name="preset">
				</div><!-- / row    -->
				<div class="row">
					<div class="span7">
						<h4>Choose radionuclides: <small>(In this version, only <sup>41</sup>Ar is available!)</small></h4>
						
						<p></p>
						${nucl_table}
					</div><!-- / span5    -->
				</div>
				<!-- / row    -->
			</form>
		</div><!-- / modal body    -->
		<div class="modal-footer">
			<a href="#" class="btn btn-primary" type="button" onclick="$('#myModalNuclide').modal('hide');">Close</a>
			<a  class="btn btn-primary" onclick="validate_source_term();">Save changes</a>
		</div>
	</div>
</div>