<!--/ nuclide list modal content -->

<div id="myModalSaveMeteo" class="modal hide fade">
	<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal">&times;</button> 
		  <h3>Save meteo</h3>
	</div>
	<div class="modal-body">
	    <form id="save_meteo_form" action="" method="post">
		     <div class="row"> 
		     	<div class="span7">	
			      <textarea class="span5" placeholder="Enter description of meteo data" name="meteo_desc" rows="3"></textarea>
			    </div>  
			 </div><!-- / row    -->                       
	    </form>   
	</div><!-- / modal body    -->
	<div class="modal-footer">
		  <a href="#" class="btn btn-primary" type="button" onclick="$('#myModalSaveMeteo').modal('hide');">Close</a>
		  <a  class="btn btn-primary" onclick="save_meteo(); $('#myModalSaveMeteo').modal('hide');">Save</a>
	</div>
</div>
