<!--/ nuclide list modal content -->
<div id="modal_nucl_table_div">
	<div id="myModalNuclide" class="modal hide fade">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">
				&times;
			</button>
			<h3>Source term configuration</h3>
		</div>
		<div class="modal-body">
			<div id="modalNuclideValMsgs"></div>
			<form id="nuclForm" action="" method="post">
				<div class="row">
					<div class="span2">
						<h4>Number of segments:</h4>
						<p></p>
						<div class="control-group">
							<!-- / release duration, sets table for source term -->
							<div class="controls docs-input-sizes">
								<select id="segments_count" class="span1" name="segments_count">
									${segments_combo}
								</select>
							</div>
						</div>
					</div>
					<div class="span4">
						<h4>Preset value of released activity</h4>
						<p>
							This values will be used as a default value for all nuclides if checked
							<input type="checkbox" name="preset_value_check">
						</p>
						<div class="input-append">
							<input class="span1" type="text" value="0.0E+00" name="preset">
							<span class="add-on">Bq</span>
						</div>
					</div>
				</div><!-- / row    -->
				<div class="row">
					<div class="span7">
						<h4>Choose radionuclides:</h4>
						<p></p>
						${nucl_table}
					</div><!-- / span5    -->
				</div>
				<!-- / row    -->
			</form>
		</div><!-- / modal body    -->
		<div class="modal-footer">
			<a href="#" class="btn btn-primary" type="button" onclick="$('#myModalNuclide').modal('hide');">Close</a>
			<a id="srcTermCfgSaveBtn"  class="btn btn-primary" onclick="return trySubmitSrcTermCfg();">Save changes</a>
		</div>
	</div>
</div>

<!-- Ractive Templates -->
<script id='tableTemplate' type='ractive'>
</script>