            <input type="hidden" id="hidden_first" value="${first}">
            <input type="hidden" id="hidden_size" value="${size}">
            <div class="row">
	            <div class="page-header">
	                <h1>Task list <small>Your current and historic tasks</small></h1>
	            </div>
            </div>
            <%include file="components/tutorial_step_results.html"/>
            <div class="row">
	            <div id="task_table">
	            	<center>
	            		<img src="/images/LoadingAnimation.gif">
	            	</center>
	            </div>
            </div>
            ${controls}
            
            <div class="row">
            <div class="page-header">
                <h1>Task details ${label} <small>Comprehensive review of task inputs and results</small></h1>
            </div>  
            ${task_details} 
            
            </div>
            
