							<!-- Modal -->
							<div id="save_receptors_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="save-configuration-modal-label" aria-hidden="true">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
										x
									</button>
									<h3 id="save-configuration-modal-label">Save Configuration</h3>
								</div>
								<div class="modal-body">
									<div class="container-fluid">
										<div class="row-fluid">
											<div class="span12">
												<label>Name</label>
												<input type="text" placeholder="" id="configuration-name">
											</div>
										</div>
										<div class="row-fluid">
											<div class="span12">
												<div id="save-configuration-validation-result"></div>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button class="btn" data-dismiss="modal" aria-hidden="true">
											Close
										</button>
										<button class="btn btn-primary" id="save-configuration" onclick="save_receptors(); $('#save_receptors_modal').modal('hide'); return false;">
											Save
										</button>
									</div>
								</div>
							</div>