<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
    <title>Python MongoDB Tutorial</title>
</head>
<body>
    Your Army: {{ user.army }}
    <form action='/add-soldier/' method='post'>
        <input type="submit" value="Add Soldier" />
    </form>
    <form action='/remove-soldier/' method='post'>
        <input type="submit" value="Remove Soldier" />
    </form>
    <form action='/rename-army/' method='post'>
        <input type="submit" value="Rename All Soldiers" />
    </form>
</body>
</html>