            <input type="hidden" id="hidden_first" value="${first}">
            <input type="hidden" id="hidden_size" value="${size}">
            <div class="row">
	            <div class="page-header">
	                <h1>Worker list <small>List of all workers registered to the system</small></h1>
	            </div>
            </div>
            <div class="row">
	            <div id="workers_table">
	            	<center>
	            		<img src="/images/LoadingAnimation.gif">
	            	</center>
	            </div>
            </div>
            ${controls}
            
            